html {
  min-height: 100%;
}

body {
  background: orangered; 
  font-family: 'Grotesk', 'Helvetica', 'Arial', sansserif;
  color: black;
  max-width: 46.971em;
  margin: 1.618em auto;
  padding: 0 1em 0 1em;
}

hr {
  height: 1px;
  border: none;
  background: black;
  width: 100%;
  float: left;
}

.thick-rules {
  height: 0.618em;
}

.contents-section {
  background-color: #EF3500;
  width: 29em;
  border-right: 1px;
}

.navigation {
  margin: 0;
  float: left;
  padding: 0 1em 0 0;
}

.head {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: darkgrey;
}

h1 {
  font-weight: bold;
  font-size: 2.618em;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 1.618em;
  margin: 0;
}

h3 {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

p {
  margin: 0.618em 0.618em;
}

.language-bash.highlighter-rouge {
  background-color: black;
  padding: 0.618em;
  margin: 1.618em;
}

code {
  background-color: black;
  color: white;
  font-family: monospace;
}

ul{
  margin: 0 0 1em 0;
  list-style-type: square;
}

img {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  text-align: left;
  border: 1px solid black;
  border-right: 0px;
  padding: 0.382em;
}


