html {
  min-height: 100%;
}

body {
  font-family: 'Grotesk', 'Helvetica', 'Arial', sansserif;
  max-width: 46.971em;
  padding: 1em;
  margin: 1em auto;
  color: white;
  background: #080808;
  border-style: ridge;
  border-color: orangered;
  border-width: 1.618em;
}

hr {
  height: 1px;
  border: none;
  background: orangered;
  width: 100%;
  float: left;
}

.thick-rules {
  height: 0.618em;
}

.navigation {
  margin: 0;
  float: left;
  padding: 0 1em 0 0;
}

.head {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: orangered;
}

a:hover {
  color: darkgrey;
}

h1 {
  font-weight: bold;
  font-size: 2.618em;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 1.618em;
  margin: 0;
}

h3 {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

p {
  margin: 0.618em 0.618em;
}

.language-bash.highlighter-rouge {
  background-color: black;
  padding: 0.618em;
  margin: 1.618em;
}

code {
  background-color: black;
  color: white;
  font-family: monospace;
}

ul{
  margin: 0 0 1em 0;
  list-style-type: square;
}

img {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  text-align: left;
  border: 1px solid black;
  border-right: 0px;
  padding: 0.382em;
}


