html {
  min-height: 100%;
}

body {
  background: orangered; 
  font-family: 'Grotesk', 'Helvetica', 'Arial', sansserif;
  color: black;
  max-width: 46.971em;
  margin: 1.618em auto;
  padding: 0 1em 0 1em;
}

hr {
  height: 1px;
  border: none;
  background: black;
}

.thick-rules {
  height: 0.618em;
}

.contents-section {
  background-color: #EF3500;
  width: 29em;
  border-right: 1px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: darkgrey;
}

h1 {
  font-weight: bold;
  font-size: 2.618em;
  margin: 0.618em 0;
}

h2 {
  font-weight: bold;
  font-size: 1.618em;
}

h3 {
  font-weight: bold;
  font-size: 1em;
}

p {
  margin: 0.618em 0.618em;
}

blockquote {
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 1em;
}

ul{
  margin: 0 0 1em 0;
  list-style-type: square;
}

img {
  max-width: 46.971em;
  width: calc(100vw - 2.618em);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  text-align: left;
  border: 1px solid black;
  border-right: 0px;
  padding: 0.382em;
}


