<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Ixtli Orange">
  <link rel="stylesheet" href="/css/main.css" >
  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}
</head>

<body>
    <h1>
      <a href="/">FF4500.red<br /></a>
    </h1>
      {{content}}
</body>
</html>
