<!DOCTYPE html>
<html lang="en">
<head>
{% include header.html %}
<style>
{% if page.word-color %}
    body { 
        background: {{ page.colour }}; 
        color: {{ page.word-color }};
    }
    hr {
        background: {{ page.word-color }};
    }
{% else %}
    body { 
        background: {{ page.colour }}; 
    }
{% endif %}
    a { color: {{ page.link-color }};}
</style>
</head>

<body>
    {% include navigation.html %}
    <hr class="thick-rules">
    <article>
      {{content}}
    </article>
</body>
</html>
